body{
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    text-align: justify;
}
.logo{
    display: flex;
    justify-content: center;
}
.container main{
    flex: 1;
    min-height: 150px;
    margin: 5px;
    margin-top: 20px;
    padding: 5px;
    font-size: 20px;
    border: solid red 2px;
    box-shadow: 5px 5px 5px red;
}
.nav{
    display: flex;
    background-color: red;
    min-width: 100%;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.nav a{
    text-decoration: none;
    color: black;
}
.nav button{
    font-size: 20px;
    color: black;
    background-color: red;
    border: none;
}
.nav button:hover{
    transform: scale(1.05);
    cursor: cell;
}
.innerContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}
.innerContainer section{
    flex: 1;
    margin: 5px;
    padding: 5px;
    min-height: 150px;
    max-width: 220px;
    width: 100%;
    text-align: center;
    border: 2px solid red;
    box-shadow: 5px 5px 5px red;
    
}
.innerContainer section p{
    font-size: 20px;
}
.images{
    height: 235px;
    width: 100px;
    padding-top: 10px;
}
.innerContainer button{
    background-color: black;
    border: none;
}
.innerContainer button p{
    width: 210px;
}
.innerContainer button:hover{
    transform: scale(1.05);
    cursor: cell;
    background-color: red;
}
footer{
    padding: 10px;
    margin: 10px;
    text-align: right;
}